.all-homes{
  width: 100%;
  height: auto;
  .all-homes-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: green;
    font-size: 21px;
  }
  .homes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .home-link{
      display: block;
      flex: 0 0 320px;
      text-decoration: none;
      color: rgb(90, 90, 90);
    }
  }
  .homes-actions{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .homes-btn{
      border-radius: 25px;
      padding: 8px 25px;
      border: .5px solid rgb(153, 153, 153);
      cursor: pointer;
      &:hover{
        background-color: rgb(215, 219, 219);
      }
      span{
        i{
          border: solid black;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
        }
        .right{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 767px){
  .all-homes{
    .homes{
      .home-link{
        flex: 0 1 auto;
      }
    }
  }
  
}

