.img-and-label{
  position: relative;
}
.label-buttom{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px 6px;
  font-size: 12px;
  font-weight: bold;
}
.btn-danger{
  background-color: rgb(248, 134, 81);
}
.card-body{
  padding: 8px;
}
.card-text{
  font-size: 15px;
}
